.contact-list-item {
  position: relative;
  &:hover {
    background-color: #00bbb2;
  }
  &:hover .delete-btn {
    display: block;
  }
  .contact-person {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(88, 95, 104);
    padding: 5px 20px;
    font-weight: 500;

    &-img {
      margin-right: 30px;
      width: 30px;
    }
    &-name {
      margin-right: 20px;
    }
  }
  .delete-btn {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: #383838;
    width: 30px;
    font-size: 1em;
    height: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}
