.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: none;
  padding: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.active {
    pointer-events: all;
    opacity: 1;
  }
  &-content {
    transform: scale(0);

    padding: 30px 50px;
    min-width: 40%;
    transition: all 0.3s ease-in-out;
    &.active {
      transform: scale(1);
      pointer-events: all;
      opacity: 1;
    }
    .close-btn {
      float: right;
      margin: 10px;
    }
    background-color: #fff;
  }
}
